<h1>Categorize Post</h1>
  
<% @post_category.errors.full_messages.each do |error| %> 
  <h2><%= error%></h2>
<%end%>


  <%= form_tag "/posts/#{@post.id}/post_categories", method: :post do %>
    
    <div>
      <%= label_tag :category %>
      <%= collection_select :category_id, :id, Category.all, :id, :name  %>
      <%= hidden_field_tag :post_id, @post.id %>
    </div>

  <%= submit_tag "Add"%>

  <% end %>