<h1>Create A New Post</h1>

<% @post.errors.full_messages.each do |error| %> 
  <h2><%= error%></h2>
<%end%>

  <%= form_tag '/posts', method: :post do %>
    <div>
      <%= label_tag :title %>
      <%= text_field_tag :title, @post.title %>
    </div>
    
    <div>
      <%= label_tag :content %>
      <%= text_area_tag :content, @post.content %>
    </div>
    <%= hidden_field_tag :user_id, @current_user.id %>

    <%= submit_tag "Submit", class: "btn btn-default" %>
  <% end %>