<div class="col-md-8">
  <h1><%= @post.title %></h2>
  <h3>by: <%= @post.user.name %></h3>
  <p><%= @post.content %></p>
  
  <span>categories: 
    <% @post.categories.each do |category| %>
      <%= category.name + "," %>
    <% end %>
  </span>
  



  <div>  
    <% if current_user.id == @post.user.id %>
    <%= link_to "Add Categories", "/posts/#{@post.id}/post_categories/new", class: "btn btn-warning" %>
    <%= link_to "Edit Post", "/posts/#{@post.id}/edit", class: "btn btn-success" %>
      <div>
        <%= form_tag "/posts/#{@post.id}", method: :delete do %>
            <input class="btn btn-danger" type="submit" value="Remove Post">
        <% end %>
      </div>
    <% end %>
  </div>

</div>

